@import 'base/variables';
@import 'block/promo';
@import'block/_header';
@import'block/_buttons';
@import 'base/normal';
@import'block/benefits';


*{
   font-family: 'MuseoModerno', sans-serif;
}

.container{
   max-width: 980px;
   margin: 0 auto;
   padding: 0 15px;
}