.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__logo {
      width: 250px;
      img{
         width: 100%;
      }
   }


   &__official {
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      color: #FFFFFF; 
      text-align: center;
      span{
         display: block;  
         margin-top: 8px;
         font-size: 18px;
         line-height: 100%;
      }
   }

   &__contact {
      max-width: 160px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   &__phone {
      display: block;
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
      margin-bottom: 8px;
      &:hover{
         color:#FFFFFF;
      }
   }
}

@media(max-width: 768px){
   .header {
      &__logo {
         width: 220px;
      }
   
   
      &__official {
         font-size: 10px;
         span{
            font-size: 15px;
         }
      }
      
      &__phone {
         font-size: 12px;
      }
   }
}

@media(max-width: 516px){
   .header{
   flex-wrap: wrap;
   &__contact{
      margin-top: 10px;
   }
   }
}
